.boxPai{

    width: 100%;
    min-height:100vh;
    background-image: url(../../../public/bg-image-no-person.png);
    background-position: center;
    background-repeat: repeat;
    background-size:cover;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
   
    
}

.boxPai .msg {

    color: white;
    position: absolute;
    top: 10px;
    right: 32px;
    text-transform: uppercase;
    font-size: 0.8rem;
    
}

    

  .sair , .entrar{

    width: 30px;
    height: 30px;
    position: absolute;
    color: white;
  }

  .sair{

    bottom: -5px;
    left: 30%;
    transform: translate(-50%);
    transform: rotate(180deg);
    transition: 500ms;
    
  }

  .entrar{

    top: -5px;
    left: 50%;
    transform: translate(-50%);
    transition: 1s;
    transition: 500ms;
    
  
  }

  
  .boxPai .boxOver{

    
    width: fit-content;
    height: 39px;
    overflow: hidden;
    padding-top: 10px;

    position: absolute;
    top: 25px;
    right: 10px;
  
  }


  .boxPai  .boxOver .boxImgs{

    width: 70px;
    height: 70px;
    cursor: pointer;
     border-radius: 50%;
     position: relative;
     transition: 500ms;
    
    }
    
   

  .boxImgsAnima{

    transform: rotate(180deg);
   
  }

 


  .boxPai  .boxOver .boxImgs .sair:hover{

    color: yellow;
    transition: 500ms;
    transform: rotate(180deg) scale(1.2);
  }
  .boxPai  .boxOver .boxImgs .entrar:hover{

    color: yellow;
    transition: 500ms;
    transform:  translate(-50%) scale(1.2);
}


.boxPai .boxFilho{

    width: 800px;
    padding: 0px 10px;
}

.boxPai .boxFilho .boxTitulo{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px 10px;
    

    & .logo{

        width: 150px;
        height: 150px;
        filter: drop-shadow(0px 0px 10px white);
    }

    
}

.boxPai .boxFilho .boxTitulo .boxTx p{


        font-size: rem;
        color: #fed35cc7;
}


.boxPai .boxFilho .boxTitulo .boxTx h1{

    font-size: 2.4rem;
    color: #FED45C;
}
    
    

.boxPai .boxFilho .boxPainelControle{

    
    width:100%;
    min-height: 250px;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    
}

.boxPai .boxFilho .boxPainelControle .boxBotoes{

        
        min-height: 200px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;   
        padding: 10px;          
        max-width: 600px;
    
}

.boxPai .boxFilho .boxPainelControle .boxBotoes button{


        flex: auto;
        width: 300px;
        padding: 20px;
        flex-basis: 200px;
        border: none;
        font: 1.2rem;
        text-transform: uppercase;
        cursor: pointer;
        border-radius: 8px;
        background-color:#FED45C;
        color: rgba(54, 54, 54, 0.877);
        font-weight: bolder;
        transition: 500ms;
        
}

.boxPai .boxFilho .boxPainelControle .boxBotoes button:hover{

    transform: translateY(-5px) ;
    transition: 500ms;
    
}


.boxPai .boxExit{


  color: white;
  position: absolute;
  top: 50px;
  left: 45%;

  transition: 1s;
  font-size: 3rem;
  text-align: center;
  background-color: #08518d;
  border-left: 8px solid #FED45C ;
  padding: 4px 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  gap: 20px;
    

}




.boxPai .boxExit  p:nth-last-of-type(1) {

  font-size: 2rem;
  text-transform: uppercase;

}

.boxPai .boxExit  p:nth-last-of-type(2) {

  font-size: 1rem;
  text-transform: uppercase;

}


.numerAnimaOff{

  transform:  translateY(-100%);
  opacity: 0;
  transition: 1s;
}

.numerAnimaOnn{

  transform: translateY(0vw)   ;
  opacity: 1;
  transition: 1s;

}



/* modal clientes */

.boxModalClientes {


  position: absolute;
  background-color: #d6a00b;
  padding: 40px 20px;
  border-radius: 8px;
  max-width: 1200px;
  height: 600px;
  overflow-Y: scroll;
  

}


.boxModalClientes .boxInput {

  text-align: center;
  max-width: 800px;
  margin: 0px  auto;
  padding: 20px 10px 40px  10px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  
}


.boxModalClientes .boxInput h1 {

    font-size: 2rem;
    text-transform: uppercase;
    color: #0B2438;

}

.boxModalClientes .boxInput input {

  width: 100%;
  padding: 8px;
  border-radius: 20px;
  outline: none;
  border: 2px solid #0B2438; 
}
   

.boxModalClientes .boxPaiModalClientes{

 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-evenly;
 gap: 30px 10px;
 flex-wrap: wrap;
 
}

.boxModalClientes  .boxClose{
  position: absolute;
  top: 10px;
  right: 10px;
 
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  
}
 
.boxModalClientes  .boxClose .iconX{

    color: red;

}
 


.boxModalClientes .boxPaiModalClientes .boxMoldura{

 
    min-height: 250px;
    border-left: 5px solid #0B2438;
    background-color: white;
    padding: 10px;
    display: grid;
    grid-template-rows: repeat(3 , 1fr);
    grid-gap: 10px;
    transition: 400ms;
    position: relative;
    overflow: hidden;
    flex-basis: 450px;
    flex-grow:1;
}

.boxModalClientes .boxPaiModalClientes .boxMoldura .btnDel{

  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 5px;
  background-color: rgba(255, 51, 0, 0.795);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 0.7rem;
  transition: 800ms;

  transform: translateY(100px);

}

.boxModalClientes .boxPaiModalClientes .boxMoldura .btnDel:hover{


  background-color: rgb(255, 0, 0);
  transition: 800ms;
  
}

    

.boxModalClientes .boxPaiModalClientes .boxMoldura div{

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    justify-content: flex-start;

}


.boxModalClientes .boxPaiModalClientes .boxMoldura:hover{

   transform: translateY(-8px);
   transition: 400ms;
   border-left: 5px solid green;

}

.boxModalClientes .boxPaiModalClientes .boxMoldura:hover .btnDel{

  transform: translateY(0);
  transition: 800ms;

}

    


.modalAnimaOn{

  transform: scale(1);
  opacity: 1;
 transition:600ms;
  
}


.modalAnimaOff{

  
  transform: scale(0);
  transition: 600ms;
  opacity: 0;
}
 


/* cadastrar clientes */

.boxPai .boxCadastrarClientes{

    display: flex;
    flex-direction: row;
   align-items: center;
   justify-content: center;
    position: absolute;
    width: 100%;
  }
    


  .boxPai .boxCadastrarClientes .boxFormulario{

      width: 700px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      background-color: #FED45C;
      padding: 20px 10px;
      border-radius: 8px;
      position: relative;
      
  }

  
  .boxPai .boxCadastrarClientes .boxFormulario .iconFechar{

    position: absolute;
    width: 10px;
    height: 10px;
    top: 10px;
    right: 10px;
    background-color: #0B2438;
    padding: 10px;
    border-radius: 50%;
    color: rgb(226, 226, 226);
    cursor: pointer;
    
}
      


  .boxPai .boxCadastrarClientes .boxFormulario form{

    min-width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    justify-content:space-evenly;
    padding: 0px 20px;
    
  }

  .boxPai .boxCadastrarClientes .boxFormulario form .boxMsg{

      width: 100%;
      text-align: center;

      & p{

        text-transform: uppercase;
      }
    
  }
    
    
    

  .boxPai .boxCadastrarClientes .boxFormulario h1{

      text-transform: uppercase;
      font-size: 2rem;
      color: #0B2438;
      width: 100%;
      text-align: center;
    
  }



.boxPai .boxCadastrarClientes .boxFormulario form div{

  display: flex;
  flex-direction: column;
  gap:5px;
  width: 100%;
  

}

.boxPai .boxCadastrarClientes .boxFormulario form div input{

  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  border: 2px solid #0B2438; 

}


.boxPai .boxCadastrarClientes .boxFormulario form .boxBotaoCadastro {

  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  
}

.boxPai .boxCadastrarClientes .boxFormulario form .boxBotaoCadastro button:nth-last-of-type(1){

  width: 200px;
  padding: 15px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #a52f2f;
  color: white;
  position: relative;
  
  box-shadow: 0px 6px 5px rgb(2, 2, 2);
 
}

.boxPai .boxCadastrarClientes .boxFormulario form .boxBotaoCadastro button:nth-last-of-type(2){

  width: 200px;
  padding: 15px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #0B2438;
  color: white;
  position: relative;
  
  box-shadow: 0px 6px 5px rgb(2, 2, 2);
 
}


.boxPai .boxCadastrarClientes .boxFormulario form div button:active{

      transform: translateY(2px);
      box-shadow: 0px 2px 5px black;
      transition: 250ms;
}


.inputAnimaOn{

  background-color: red;
  transition: 800ms;
}

.inputAnimaOff{

  background-color: white;
  transition: 800ms;
}


@media screen and (max-width:460px) {

    
    .boxPai .boxFilho .boxTitulo .boxTx h1{

        font-size: 5vw;
       
    }


}


@media screen and (max-width:440px) {

    .boxPai .boxFilho .boxPainelControle{

        width: 100%;
        padding: 0px 20px;
    }

    .boxPai .boxFilho .boxPainelControle .boxBotoes  button {

            width: 100%;
            flex: auto;

    }


    
.boxPai .boxFilho .boxTitulo{

    flex-direction: column;
    align-items: flex-start;
    
}

.boxPai .boxFilho .boxTitulo .boxTx h1{

    padding-left: 20px;

}

.boxPai .boxFilho .boxTitulo .boxTx p{

    padding-left: 20px;

}
    


}



@media screen and (max-width:700px) {


    .boxPai  .boxExit{
     
      left: 5px;
   
    }

}








 


 
  




