.boxBanner{

    background-image: url(../../../public/bg-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 980px;
    width: 100%;
    color:  #f5edd9;
    overflow: hidden;

}

.boxBanner .boxNav{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: relative;
    
   
}

    
.boxNav .link{

    text-decoration: none;
    color: white;

} 


  

.boxBanner .boxNav .boxLogin{

    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    
}

.boxBanner .boxNav .boxLogin p{

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    transition: 800ms;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
    transition: 400ms;
    border-radius: 8px;
    padding: 8px;
}

.boxBanner .boxNav .boxLogin p:hover{

    transition: 400ms;
    background-color: #FDD25A;
    color: black;


    & .icon{

        color: black;
        transition: 400ms;
    }

}
   

.boxBanner .boxNav .boxLogin p:hover{

    transform: translateY(-3px);
    transition: 800ms;

}  

.boxBanner .boxNav >  nav ul {

    display: flex;
    flex-direction: row;
    gap: 30px;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    
}

.boxBanner .boxNav > nav ul .link  li {

    
    transition: all 300ms;
    

}


.boxBanner .boxNav > nav ul .link li:hover {

    color:#FDD25A;
    transition: all 300ms;
    transform: translateY(-3px);
}

.boxBanner .boxNav > nav ul .link li::after {

   content: '';
   width: 0%;
   border-bottom: 2px solid #FDD25A;
   padding-bottom: 5px;
   display: block;
   transition: 400ms;
}

.boxBanner .boxNav > nav ul .link li:hover::after {

    content: '';
    width: 100%;
    border-bottom: 2px solid #FDD25A;
    padding-bottom: 5px;
    display: block;
    transition: 400ms;
}



.imgLogo{

    width: 50px;
    height: 50px;
}

.icon{

    width: 20px;
    height: 20px;
    color:#f5edd9;
    transition: 400ms;
}

.i{

    position: absolute;
    display: inline-block;
    right: 10px;
    cursor: pointer;
    transition: 800ms;
    transform: translateX(50vw);   
   
}


.iconHam{

    color:white;
    width: 30px ;
    height: 30px;
  
}

.boxNav .alertEscondido{

    background-color: #021B2F;
    padding: 20px;
    border-radius: 15px;
    position: absolute;
    top: 110%;
    right: 20px;
    transition: 800ms;
    z-index: 1;

}
   



.alertOff{

    transform: translateX(80vw);
    transition: 450ms;
   
}

.alertOn{

    transition: 450ms;
    transform: translateX(0);
}
   

.menuOn{

    transform: translateX(0);
    transition: 600ms;  

}

.menuOff{

    transform: translateX(-120%);
    transition: 600ms;

}
    
  

.boxNav .alertEscondido .alertFilho p{

        padding: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 5px;
        text-transform: uppercase;
        font-size: 0.8rem;
        cursor: pointer;
        border-radius: 5px;
        transition: 400ms;
   
}

.boxNav .alertEscondido .alertFilho p:hover{

    
    background-color: #FDD25A;
    color: black;
    font-weight: bold;
    transition: 400ms;


    & .icon{
        color: black;
        transition: 400ms;
    }

}

.boxBanner .boxTexto{

    position: absolute;
    top: 35%;
    text-transform: uppercase;
    padding: 0px 20px;
    left:100px;
    
  
    

    & h1{

        font-size:5vw;
        letter-spacing: 1px;
        
        
        
    }

    & h3{

        color: #977555;
        
    }

    & p{

        text-transform: lowercase;
        max-width: 550px;
        text-align: left;
        line-height: 28px;
        color: #f5edd9;
        font-size: 1.2rem;
        
    }
}

.boxBanner .boxTexto .boxFilhoTexto{

    max-width: 850px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;

}

.boxBanner .boxTexto .boxFilhoTexto .boxBotao{

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 10px 0px;

  
}

.boxBanner .boxTexto .boxFilhoTexto .boxBotao  button{

    width: 130px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.boxBanner .boxTexto .boxFilhoTexto .boxBotao  button:nth-of-type(1){

    background-color: #977555;
    color: white;
    text-transform: uppercase;
    box-shadow: 0px 0px 10px #977555;
    transition: 400ms;
}

.boxBanner .boxTexto .boxFilhoTexto .boxBotao  button:nth-of-type(1):hover{


        background-color: transparent;
        transition: 400ms;

}


.boxBanner .boxTexto .boxFilhoTexto .boxBotao  button:nth-of-type(2){

    color: #977555;
    text-transform: uppercase;
    background-color: transparent;
    outline: 1px solid #977555;
    transition: 400ms;
 
}

.boxBanner .boxTexto .boxFilhoTexto .boxBotao  button:nth-of-type(2):hover{

    
    background-color: #977555;
    outline: none;
    transition: 400ms;
    color: white;

}


.boxBanner .boxTexto .boxFilhoTexto .redes{

      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;  
      padding: 10px 0px;

}

.boxBanner .boxTexto .boxFilhoTexto .redes .boxImg{

   width: 30px;
   height: 30px;
   background-color: #977555;
   border-radius: 50%;
   padding: 17px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px #977555;

}

.boxBanner .boxTexto .boxFilhoTexto .redes .boxImg .icon {

    filter: drop-shadow(0px 0px 5px white);

 }


 .boxBanner .navScroll{

    position:fixed;
    top: 0;
    left:0;
    backdrop-filter:blur(10px);
    width: 100%;
    border-bottom: 1px solid #f5edd9;
    border-radius: 0px 0px 8px 8px; 
    z-index:1;
    transition: 1s;
  
    
}
 
   
.boxBanner .iHamburgerIcon{

    display: inline-block;
    position: absolute;
    width: fit-content;
    left:80px;
    transform: translateX(-50vw);
    transition: 600ms;
    cursor: pointer;
    opacity: 0;

}
    

.boxBanner .iHamburgerIcon .iconHamburger{

    width: 35px;
    height: 35px;
    
}


.boxBanner .MenuHamburgerEscondido {


    position: absolute;
    background-color: #021B2F;
    top:80px;
    padding: 15px;
    width: 200px;
    z-index: 1;
    border-radius: 10px;
    
 

}

.boxBanner .MenuHamburgerEscondido > nav ul {

    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: flex-start;

}

.boxBanner .MenuHamburgerEscondido > nav ul li {

    cursor: pointer;
    width: fit-content;
    text-transform: uppercase;
  
}
    

.boxBanner .MenuHamburgerEscondido > nav ul li::after {

    content: '';
    display: block;
    border-bottom: 2px solid #FDD25A;
    padding-bottom: 5px;
    width: 0%;
    transition: 400ms;
}

.boxBanner .MenuHamburgerEscondido > nav ul li:hover::after {

    width: 20px;
    transition: 400ms;
}




       
.boxBanner .displayOn {

 
   transform: scale(1) translateX(-50%);
   transition: 400ms;
}

.boxBanner .displayOff{
    
    transform: scale(0);
    transition: 300ms;
}



.boxBanner .txOn{

    transform: translateX(0);
    transition: 1s;
}

.boxBanner .txOff{

        transform: translateX(-100vw);
        transition: none;

}


.boxAlertLoginOn{


}


.boxAlertLoginOn{
    

}

 

 @media screen and (max-width:500px) {

    .boxBanner{

        background-image: url(../../../public/bg-image500px.png);

    }

    .boxBanner .boxTexto{

        top: 42%;
    }
}

@media screen and (max-width:1200px) {

    .boxBanner{

        background-image: url(../../../public/bg-image1200px.png);

    }

}






@media screen and (max-width:1000px) {

    .boxBanner .boxTexto{

        left: 5px;
    }
}



@media screen and (max-width:960px) {


    .i{

        transform: translateX(0);
    }

   .boxBanner .boxNav{

        justify-content: flex-start;
        gap: 20px;

        
    }

    .boxBanner .boxNav .boxLogin{

        display: none;
    }

    

}



@media screen and (max-width:700px) {

        .boxBanner .boxNav > nav{

            display: none;
        }

        .boxBanner .iHamburgerIcon{
            opacity: 1;
            transform: translateX(0);
        }

      
}



@media screen and (max-width:415px) {

    .boxBanner .boxTexto .boxFilhoTexto  .boxBotao{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}


@media screen and (max-width:375px) {

    .boxBanner .boxTexto{

        top: 45%;
    }




        .boxBanner .iHamburgerIcon .iconHamburger{

            width: 25px;
            height: 25px;
            position: absolute;
            left: -50px;
            
        }

      .boxBanner .boxNav .iconHam{
            width: 25px;
            height: 25px;
            position: absolute;
            right: 10px;
            
        }
            

        .boxBanner .boxNav .imgLogo{

            display: none;
            
        }

        .boxBanner .boxNav {

            padding: 35px;
           
        }

        

        

}


@media screen and (max-width:320px) {

    .boxBanner .boxTexto{

        top: 25%;
    }


}





